# orchestration
google-cloud-firestore
pyspark
apache-airflow-providers-apache-spark==4.8.0
apache-airflow
pymongo

# model
cython
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
submitit
torch>=1.5.0
torchvision>=0.6.0
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
scipy
onnx
onnxruntime

# additional
tqdm